./Cab-Booking/node_modules
./E-commerce/node_modules
./Hotel-Management/node_modules
./Pooling-System/node_modules
./Splitwise/node_modules
./Stack-Over-Flow/node_modules
./train-booking/node_modules
./Url-Shortener/node_modules
